body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: start;
    font-size: 12px;
}
main{
    width: 50%;
    margin: 30px auto;
}
form{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}
input {
    width: 70%;
    padding: 8px;
}
button {
    padding: 8px 16px;
}
.add-btn{
    background-color: rgb(39, 137, 241);
    border: none;
    color: white;
    border-radius: 7px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 8px;
    position: relative;   
}
li span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
li input[type="checkbox"] {

    margin: 0;
}

li button {
    margin-left: auto;
}

.done span {
    text-decoration: line-through;
    opacity: 0.6;
}