* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background:#f0f2f5;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width:900px;
    justify-content: space-between;
    align-items: center;

}
.left{
    width:50%;
}
.logo {
    color: #1877f2;
    font-size: 60px;
    margin-bottom: 20px;
}

.left p{
    font-size:24px;
}
.right{
    width:40%;
}

.login-box{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.login-box input{
    width:100%;
    padding:14px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius:8px;

}

.log-bttn{
    width:100%;
    padding:14px;
    background-color: #1877f2;
    color:white;
    font-size:16px;
    border:none;
    border-radius: 8px;
    cursor:pointer;
}
.log-bttn:hover{
    background-color: #166fe5;
}

.forgot{
    display:block;
    margin:15px ;
    color:#1877f2;
    text-decoration:none;
    font-size:14px;

}
hr{
    margin:20px;
}

.Create-bttn{
    background-color: #42b72a;
    color:white;
    padding: 14px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}
.Create-bttn:hover{
    background-color:rgb(54, 164, 32) ;
}
.create-page {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}