*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f0f2f5;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.container{
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    
}


.icon{
    position:absolute;
    width:80px;
    top:10px;
    left:10px;
}


.left {
    width: 45%;
}

.left h2 {
    font-size: 26px;
    line-height: 1.3;
}

.left span {
    color: #ff3b7f;
}

.people {
    margin-top:20px;
    width: 380px;
}


.divider{
    width: 1px;
    height: 520px;
    background: #dbdbdb;
}


.right {
    width: 40%;
}


.login-box {
    background:transparent;
    border: 1px solid #dbdbdb;
    padding: 20px;
    border-radius: 10px;
}


input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
}


button {
    width: 100%;
    background: #4cb5f9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 8px;
    cursor: pointer;
}


.forget {
    display:block;
    margin:15px 0;
    text-align: center;
    color:black;
    text-decoration:none;
    font-size:14px;
}


.social button{
    background:transparent;
    color:black;
    border:solid 2px rgb(181, 181, 181);
    border-radius:14px;
}


.new button{
    background:transparent;
    color:#4cb5f9;
    border:solid 2px #4cb5f9;
    border-radius: 14px;
}


.meta {
    margin-top:20px;
    text-align: center;
    color: gray;
    font-size: 12px;
}
